{% extends 'base.html' %}
{% load static %}

{% block title %} Главная {% endblock %}

{% block content %}
<style>
    
        *{
            margin: 0;
            padding:0;
        }
        body ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .helptext ul{
            background-color: white;
        }

        li{
            float:left;
        }

        li a{
            display: block;
            color:white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover{
            background-color: #111;
        }
    
    
    ul{
        color:white;
    }

</style>
<div class="form-container">
<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Войти</button>
</form>
</div>
{% endblock %}